[Unit]
Description=FedoraController Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/media/patrik/Extra1TB/Programmering/Python/FedoraController
Environment="PATH=/media/patrik/Extra1TB/Programmering/Python/FedoraController/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/media/patrik/Extra1TB/Programmering/Python/FedoraController/.venv/bin/python -m uvicorn server.main:app --host 0.0.0.0 --port 8001
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
